/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Roboto, Oxygen, Cantarell,
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif!important;
}

h2 {
  color: #3b3b3b!important;
  margin-bottom: 32px!important;
}

pre {
  display: block;
  white-space: pre-wrap;
}

.TitleJumbotronRow {
  background: rgb(36, 36, 36);
  padding-top: 130px;
  padding-bottom: 130px;
}

.FooterRow {
  background: rgb(36, 36, 36);
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Footer {
  color: #cad6d6;
}

.Title {
  font-weight: bolder;
  color: #23d8d8;
  text-align: center;
  font-size: 64px;
  margin-bottom: 20px;
}

.Subtitle {
  font-size: 24px;
  color: #cad6d6;
  text-align: center;
  margin-bottom: 40px;
}

.SubtitleLink {
  color: #cad6d6;
}

.SubtitleLink:hover {
  color: #ffffff;
}

.TitleButtonGroup {
  text-align: center;
}

.TitleButton1 {
  background-color: #23d8d8;
  border: none;
  height: 56px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 30px;
  font-size: 22px;
}

.TitleButton1:hover {
  background-color: #e8ffff;
  border: none;
  height: 56px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 30px;
  font-size: 22px;
}

.TitleButton2 {
  background-color: transparent;
  color: #23d8d8;
  border: none;
  height: 56px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
}

.TitleButton2:hover {
  background-color: transparent;
  color: #e8ffff;
  border: none;
  height: 56px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
}

.FeaturesRow {
  margin-top: 25px;
}

.FeatureColumn {
  /* padding-left: 32px!important;
  padding-right: 32px!important; */
}

.FeatureTitle {
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 20px;
  color: #6b6b6b;
}

.FeatureText {
  font-size: 14px;
}

.ExplorerCanvas {
  background: #ececec;
}
